################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RideManagementUI/.vs
/RideManagementUI/RideManagementUI/bin/Debug
/RideManagementUI/RideManagementUI/obj
/RideManagementUI/RideManagementUI/RideManagementUI.csproj.user
/RideManagementUI/RideManagementDriverUI/bin/Debug
/RideManagementUI/RideManagementDriverUI/obj
/RideManagementUI/RideManagementDriverUI/RideManagementDriverUI.csproj.user
/RideManagementDriverUI/.vs
/RideManagementDriverUI/RideManagementDriverUI/bin/Debug
/RideManagementDriverUI/RideManagementDriverUI/obj
/RideManagementDriverUI/RideManagementDriverUI/RideManagementDriverUI.csproj.user
